*{margin: 0;padding: 0;-webkit-box-sizing: border-box;}
body,p,header,footer,section{margin: 0;}
a{text-decoration: none;color: #000;-webkik-tap-highlight-color:transparent;}
ul,ol{list-style: none;}
